/* Changing the background color of the switch */
.form-check-input {
    background-color: #0E9F6E; /* Custom green color */
    border-color: #0E9F6E;
}

.form-check-input:checked {
    background-color: #ff6347; /* Custom red color when checked */
    border-color: #ff6347;
}

.custom-switch .form-check-label {
    color: #0E9F6E; /* Custom blue color */
    font-weight: 600;
}
.CustomNavbar{
    border: 1px solid #E5E5E5;
    z-index: 1;
    background-color: white;

}